.main{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#map{
    height: 300px;
    width:600px;
    border-radius: 12px;
    margin-bottom: 1.2rem;
}

.info{
    border-radius: 12px;
    box-shadow: rgba(28, 28, 28, 0.12) 0px 2px 8px;
    padding: 2.5rem;
    margin:2rem;
    margin-left: 0;
    width:600px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav{
    margin:0;
    margin-bottom: 2rem;
    width: 100%;
    background-color: aqua;
}

.mapboxgl-popup {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
    }

    .mapboxgl-popup a{
        color: blue;
        cursor: pointer;
    }