#banner{
    height:100vh;
    width:70%;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body{
    font-family: 'Roboto', sans-serif;
}
form{
    height: 100vh;
}
.filters{
    display: flex;
    flex-direction: column;
}
.header{
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    margin: 3rem 0;
}

.description div{
    word-wrap: break-word;
    width:300px;
    font-weight: 500;
}
#banner img{
    width:300px;
    height:250px;
}

.description{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.4;
}

.signIn{
    font-size: 3rem;
    font-weight: 700;
    color:rgb(81, 81, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapImg{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
