body {
  margin: 0;
  padding: 0;
}
#map{
  height:100vh;
  width:70%;
  margin:0;
  padding: 0;
}
.history {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 10px;
  border-radius: 12px;
  width: 160px;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  font-family: "Open Sans", sans-serif;
}

#menu a {
  font-size: 13px;
  background-color:#ffffff;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 0.01rem solid rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: 0.3s ease all;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #404040;
  color: #ffffff;
}

#menu a.active {
  background-color: #ffffff;
  color: #404040;
}

#menu a.active:hover {
  background: #404040;
  color: #ffffff;

}

.link-container {
  cursor: pointer;
  text-decoration: underline;
  display: block;
  margin-top: 1em;
  font-weight: bolder;
}

.link-container:hover {
  background-color: #404040;
}

.popup-header {
  font-weight: bold;
  font-size: smaller;
  padding-right: 5px;
}

.mapboxgl-ctrl-geocoder--input:focus{
  outline: none;
  border: none;
}
