/* auth page */

@media screen and (max-width:700px){
    .filters{
        width:50%;
    }

    .header{
        font-size: 3rem;
        margin: 0;
    }

    .description{
        line-height: 1;
        font-size: 1.5rem;
    }

    #banner img{
        height: 250px;
        width:200px;
    }
    
    #banner{
        width:50%;
    }

    .mapImg{
        display: none;
    }

    form{
        justify-content: space-evenly;
    }

}
@media screen and (max-width:600px){
    .main{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        margin-top: 2rem;
    }

    #banner{
        width:100%;
        height:auto;
    }

    .filters{
        height:50vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 1.2rem;
    }
    
    form{
        align-items: flex-start;
        width:70%;
        /* height:60vh; */
    }

    #searchBtn{
        width:250px;
    }

    .header{
        font-size: 3rem;
        margin: 2rem 0;
    }

    .mapImg img{
        width:300px;
        height:290px;
    }

    .mapImg{
        display: block;
    }

    
}

@media screen and (max-width:570px){
    .mapImg{
        display: none;
    }

    #banner{
        height: auto;
    }

    form{
        width:100%;
        align-items: center;
        height:100%;
    }

    .filters{
        height: 50%;
        width:100%;
        margin: 0;
    }

    .header{
        font-size: 2.5rem;
        margin-top: 0;
    }

    .description{
        font-size: 1.4rem;
    }

    #banner img{
        height:250px;
        width:300px;
    }

    .signIn{
        font-size: 2.4rem;
    }

    .main{
        justify-content: flex-end;
    }

    .error{
        font-size: 0.8rem;
    }

    .notification{
        left:8rem;
    }
}

@media screen and (max-width:400px){
    .description{
        font-size: 1.2rem;
        line-height: 1.2;
    }

    #banner img{
        width:250px;
    }

    #banner{
        height:auto;
        margin-top: 1rem;
    }

    

}