
@media screen and (max-width:900px){
    .notification{
        left:15rem;
    }
}
@media screen and (max-width:800px){
    .notification{
        left:15rem;
    }
}


@media screen and (max-width:700px){
    .main{
        display: flex;
        flex-direction: column-reverse;
    }

    .filters,#map{
        width:100%;
    }

    #map{
        height:70vh;
    }

    #formBtn{
        flex-direction: row;
    }

    #logoutBtn{
        margin-bottom: 1.2rem;
        height:40px;
        width:60%;
    }

    .filters button{
        font-size: 1.3rem;
    }

    .input-grp-1{
        width:90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    input[type="datetime-local"] {
        width:90%;
    }

    .input-grp-1:nth-of-type(2) .fas.fa-times{
        right:4px;
    }

    .has-content.effect-17[type="datetime-local"] ~ .focus-border{
        width: 90%;
    }
    
    .effect-17[type="datetime-local"]:focus ~ .focus-border{
        width: 90%;
    }
    .col-3:nth-of-type(1){
        margin-bottom: 0;
    }

    .effect-17 ~ label{
        left:10px;
    }

    .col-3{
        width:50%;
    }

    form{
        align-items: center;
    }

}


@media screen and (max-width:570px){
    .col-3{
        width:50%;
    }

    #menu{
        left:5px;
        bottom: 20px;
        width:120px
    }

    form{
        height:auto
    }

    .filters{
        margin-top: 10px;
        height:50vh;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .mapboxgl-ctrl-geocoder{
        max-width: 90px;
        max-height: 40px;
    }

    .mapboxgl-ctrl-geocoder--input{
        padding-top:0;
        padding-right: 0;
    }
    #menu a{
        padding: 5px;
    }

    .mapboxgl-popup{
        font-size: 10px;
        padding: 0;
        width: auto;
    }

    .notification{
        left:8rem;
    }

    .input-grp-1{
        margin-bottom: 2rem;
    }

    #temp{
        display: block;
    }

    .logout{
        display: none;
    }

    form{
        height:100%;
    }

    .fas.fa-sign-in-alt{
        margin-right: 3px;
    }

   
}

@media screen and (max-width:350px){
    .input-grp-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin:10px; */
    }

    .col-3{
        width:100%;
        margin-bottom: 10px;
        left:10px;
    }

    .effect-17 ~ label{
        left:10px;
    }

    .effect-17{
        padding-left: 20px;
        padding-right: 0;
    }

    .effect-17:focus ~ .focus-border{
        
        left:10px;
    }

    ::-webkit-input-placeholder{
        text-align: left;
    }

    

}


